services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./app:/app
    networks:
      - app-network
    depends_on:
      - mariadb

  apache:
    image: httpd:2.4
    ports:
      - "8080:80"
    volumes: 
      - ./app:/app
      - ./apache-custom/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro
      - ./apache-custom/myapp.conf:/usr/local/apache2/conf/extra/myapp.conf:ro
    depends_on: 
      - php
    networks: 
      - app-network

  mariadb:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: PHP
      MYSQL_USER: user
      MYSQL_PASSWORD: 1234
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./Usuarios.sql:/docker-entrypoint-initdb. d/Usuarios.sql
    networks:
      - app-network
    healthcheck:
      test:  ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval:  10s
      timeout: 5s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports: 
      - "8000:80"
    environment:
      PMA_HOST: mariadb
      PMA_USER: user
      PMA_PASSWORD: 1234
    depends_on:
      mariadb: 
        condition: service_healthy
    networks:
      - app-network

volumes:
  mariadb_data:

networks: 
  app-network:
    driver: bridge